/* Footer */
@import "../base/colores.scss";

.footer {
  background-color: $amarillo;
  font-family: "Inter" !important;
  text-align: center !important;
  font-size: 12px !important;
  padding: 1px;
}
/* Fin footer */
