@import "../base/colores.scss";

@mixin encabezado($color, $background-image) {
  background-image: $background-image;
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  font-family: "Kanit", sans-serif;
  font-size: 65px;
  color: $color;
}

.encabezado-pagina-azul {
  @include encabezado(#0436ff, url(../img/cancha-fondo-amarillo.jpg));
}

.encabezado-pagina-blanco {
  @include encabezado(aliceblue, url(../img/temporada.jpg));
}

@media screen and (max-width: 500px) {
  .encabezado-pagina-azul {
    @include encabezado(#0436ff, url(../img/cancha-fondo-amarillo.jpg));
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px;
    font-size: 40px;
    font-family: "Kanit", sans-serif;
  }

  .encabezado-pagina-blanco {
    @include encabezado(aliceblue, url(../img/temporada.jpg));
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px;
    font-size: 40px;
    font-family: "Kanit", sans-serif;
  }
}
